################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Klijent/.vs/Klijent
/Klijent/Klijent/obj/Debug
/Klijent/Server/obj/Debug
/Klijent/Domain/obj/Debug
/Klijent/Services/obj/Debug
/.vs/projekat/v17
/Klijent/.vs/Kviskoteka
/.vs
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/Klijent/Domain/bin/Debug
/Klijent/Klijent/bin/Debug
/Klijent/Server/bin/Debug
/Klijent/Services/bin/Debug
